<div class="row">
    <div class="col-xs-6" style='width: 70%;'>
        <app-food-list></app-food-list>
    </div>
    <div class="col-xs-6" style="width: 30%;">
        <app-shop-basket></app-shop-basket>
    </div>
</div>